// Variables
$primary-color: #000
$cell-width: 14%
$cell-padding: 48px 0px

// Extend
%cell-position
    display: flex
    justify-content: space-around
    flex-wrap: wrap
%cell
    width: $cell-width
    padding: $cell-padding

// General styles
.App
  text-align: center